/* Add these styles to your navBar.css */
.navbar-links {
    color: #0D3B66; /* Blue color for the text */
    font-weight: 600;
    font-size: 1.55rem; /* Adjust size as needed */
  }
  
  .navbar-links:hover {
    color: #000000; /* Orange color when hovered */
  }
  